footer{
	width: 100%;
	background: $grey;
	padding: 5em;

	.wrap{
		margin: 0 auto;
		max-width: 1240px;
		display: flex;
		justify-content: space-between;

		nav{
			display: flex;
			flex-direction: column;

			& > *{
				padding: 1em;
				color: rgba(255, 255, 255, 0.75);
				@extend %roboto;
			}
		}
		.contacts{

			.logo{
				display: flex;
				align-items: center;
				color: white;
				@extend %playfair;
				padding: 1em;
			}
		}
	}
}

a{
	text-decoration: none;
}